@import url("lib/bootstrap.css");
@import url("lib/jquery-ui-1.10.2/theme/jquery-ui.min.css");

* {
	margin:0;
    padding:0;
    border:none;
}

body, html {
    overflow: auto;
}

#canvasdiv0{
    margin: 1%;
	float: left;
}

#canvasdiv1{
    margin: 1%;
	float: left;
}

#canvas0{
	border:1px solid gray;
}

#canvas1{
	border:1px solid gray;
}

#description0{
    text-align: justify;
}

#description1{
    text-align: justify;
}

#controls{
	float:left;
	margin:1%;
    width: 20%;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}
