@import url("lib/jquery-ui-1.10.3.custom.min.css");
@import url("lib/select2.css");

* { margin: 0; padding: 0; border: none }

body, html { font-family: "Open Sans", Helvetica, Arial, sans-serif; font-size: 13px }

#wrapper { width:1000px; margin: 0 auto }

#title, #author { text-align: center; color: #511a1a }

#title {
    margin: 0 auto;
    width: 300px;
    line-height: 2;
    font-weight: bold;
    font-size: 24px;
    background-color: #962727
}

#author { margin: 30px; font-size: 12px }

#one, #two { text-align: justify; width: 45%;  line-height: 2 }

#one { display: inline-block }

#two { float: right }

.btn, #step {
    margin-top: 30px;
    width: 90px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    line-height: 2.3;
    color: #fff;
}

#generate { background: #227f20 }

#step, #left, #right { background: #207f73; margin-left: -1px; margin-right: -1px; }

#left, #right { width: 15px }

#step, #clear { margin-left: 20px }

#clear { float: right; background: #7f2020 }

#stepselect {
    display: inline-block;
    position: relative;
    top: 1px;
    margin-left: 8px;
    height: 12px;
    width: 63%;
    border: none;
    background-color:#ededed;
    background-image: linear-gradient(90deg, #d5d5d5 1px, transparent 1px), 
        linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size: 4px 12px;
}

.ui-slider .ui-slider-handle { outline: 0; top: -8px; width: 13px; background: #207f73; border: none }

.btn, #stepselect, .ui-slider .ui-slider-handle { cursor: pointer }

.btn, .ui-slider .ui-slider-handle { height: 29px }

.btn, .unselectable { 
    -moz-user-select: -moz-none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

#step0, #step1, #algorithms0, #algorithms1 { display: inline }

.select2-container { margin-bottom: 5px; margin-right: 5px }

.select2-container .select2-choice { outline: 0; }

.select2-results .select2-highlighted { background: #272625; }

.select2-container .select2-choice { font-weight: bold }

.select2-container, .select2-container .select2-choice, .select2-container .select2-choice div, .select2-drop { 
    border: none; border-radius: 0; color: #fff; background: #62605c 
} 

.select2-dropdown-open .select2-choice {
    -webkit-box-shadow: none; 
       -moz-box-shadow: none;
            box-shadow: none;
}

#paper0, #paper1 { position: relative; margin-top: -1px } 

#paperdiv0, #paperdiv1 { position: relative; margin-top: 25px } 

#paperdiv0 { float: left }

#paperdiv1 { float: right; }

#paper0, #paper1 { background: #f9f9f9; margin-bottom: 20px }

#stepdisplay0, #stepdisplay1 { font-weight: bold }
